@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #d8f3dc;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
#background {
    background-color: #b7e4c7;
    height: 725px;
}

h2 {
    margin: 0;
}

body {
    background-color: white;
    font-family:'Rock Salt', Helvetica, sans-serif;
    font-size: 22px;
    margin:  0;
    padding: 0;
}

header {
    background-color: #2d6a4f;
}

nav a:hover {
    background-color: #081c15;
    color: #d8f3dc;
}

.book:hover, .join:hover {
    background-color: #b7e4c7;
    color: #081c15;
}

.msg {
    background-color: #2d6a4f;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #2d6a4f;
    color: #d8f3dc;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color:#d8f3dc;
    text-decoration: none;
}

footer a:hover {
    color: #081c15;
}

.home-title {
    color: #081c15;
    font-family:'Rock Salt', Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #081c15;
}

.book, .join {
    background-color: #2d6a4f;
    color: #d8f3dc;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.msg h2 {
    color: #d8f3dc;
    font-family:'Rock Salt', Helvetica, sans-serif;
}

.msg p {
    color: #d8f3dc;
    font-size: .8em;
    padding: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

#hero-img {
    width: 100%;
}

footer .social img {
    padding-top: 15px;
}

#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border:10px solid #081c15;
}

main-section img {
    box-sizing: border-box;
}