#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #d8f3dc;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
#background {
    background-color: #b7e4c7;
    height: 725px;
}

body {
    background-color: white;
}

header {
    background-color: #2d6a4f;
}

nav a:hover {
    background-color: #081c15;
    color: #d8f3dc;
}

.book:hover, .join:hover {
    background-color: #b7e4c7;
    color: #081c15;
}

.msg {
    background-color: #2d6a4f;
}

footer {
    background-color: #2d6a4f;
    color: #d8f3dc;
}
footer a {
    color:#d8f3dc;
    text-decoration: none;
}

footer a:hover {
    color: #081c15;
}

.home-title {
    color: #081c15;
}

h4 {
    color: #081c15;
}

.book, .join {
    background-color: #2d6a4f;
    color: #d8f3dc;
    text-decoration: none;
}

.msg h2 {
    color: #d8f3dc;
}

.msg p {
    color: #d8f3dc;
}

.icon {
    width: 80px;
}

.logo {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

#hero-img {
    width: 100%;
}